{% extends "layout.html" %} 

{% block content %}

<div
  class="container-sm d-flex justify-content-center align-items-center"
  style="height: 90vh"
>
  <form
    method="POST"
    action="{{  url_for('create_song')  }}"
    style="margin-top: 2em; margin-bottom: auto; margin-bottom: auto"
    class="form-outline w-50" 
    enctype="multipart/form-data"
  >
    {{ form.hidden_tag() }}

    <legend><h2 class="h2 mb-3 font-weight-normal text-center">{{ legend }}</h2></legend>
    <div class="mb-3">
      <p class="lead text-center">
        Cannot find your favorite tune in our library? Upload a song from your
        device and start listening to it today!
      </p>
    </div>

    <div class="mb-3">
      <label class="form-label">{{ form.title.label }}</label>
      {% if form.title.errors %} {{ form.title(class="form-control") }}
      <div class="text-danger">{{ form.title.errors[0] }}</div>
      {% else %} {{ form.title(class="form-control") }} {% endif %}
    </div>

    <div class="mb-3">
      <label for="formFile" class="form-label">Browse File</label><br>
      {{ form.file(class='form-control-file', type='file') }}
      {% if form.file.errors %}
        {% for errors in form.file.errors %}
          <span>
            {{ error }}
          </span><br>
        {% endfor %}
      {% endif %}
      <!-- <input class="form-control" type="file" accept=".mp3" id="formFile"> -->
    </div>

    <div class="mb-3">
      <label class="form-label">{{ form.artist.label }}</label>
      {% if form.artist.errors %} {{ form.artist(class="form-control") }}
      <div class="text-danger">{{ form.artist.errors[0] }}</div>
      {% else %} {{ form.artist(class="form-control") }} {% endif %}
    </div>


    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label"
        >{{ form.lyrics.label }}</label
      >
      {% if form.lyrics.errors %} {{ form.lyrics(class="form-control") }}
      <div class="text-danger">{{ form.lyrics.errors[0] }}</div>
      {% else %} {{ form.lyrics(class="form-control") }} {% endif %}
    </div> 
    <div>{{ form.submit(class="btn btn-primary my-3") }}</div>
  </form>
</div>

{% endblock content %}
