{% extends "layout.html" %} {% block content %}
<div
  class="container-sm d-flex justify-content-center align-items-center"
  style="height: 90vh"
>
  <form
    method="post"
    action=""
    style="margin-top: 2em; margin-bottom: auto; margin-bottom: auto"
    class="form-outline w-50"
  >
    {{ form.hidden_tag() }}

    <legend>
      <h2 class="h2 mb-3 font-weight-normal text-center">{{ legend }}</h2>
    </legend>

    {% if songs | length == 0 %}
    <p class="text-center">No records found.</p>
    {% else %}
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label"
        >{{ form.name.label }}</label
      >
      {% if form.name.errors %} {{ form.name(class="form-control") }}
      <div class="text-danger">{{ form.name.errors[0] }}</div>
      {% else %} {{ form.name(class="form-control") }} {% endif %}
    </div>

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"
          >{{ form.artist.label }}</label
        >
        {% if form.artist.errors %} {{ form.artist(class="form-control") }}
        <div class="text-danger">{{ form.artist.errors[0] }}</div>
        {% else %} {{ form.artist(class="form-control") }} {% endif %}
      </div>

    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label"
        >{{ form.genre.label }}</label
      >
      <select class="form-control" id="{{ form.genre.id }}" name="{{ form.genre.name }}">
        {% for label in form.genre.choices %}
            <option value="{{ label }}" {% if label == form.genre.data %}selected{% endif %}>{{ label }}</option>
        {% endfor %}
    </select>
    </div>

    <div class="form-group">
      {{ form.songs.label(class="form-control-label") }} {% for choice in form.songs %}
      <div class="form-check">
        <input
          type="checkbox"
          id="{{ choice.id }}"
          name="{{ form.songs.name }}"
          value="{{ choice.data }}"
          class="form-check-input"
        />
        <label for="{{ choice.id }}" class="form-check-label"
          >{{ choice.label.text }}</label
        >
      </div>
      {% endfor %}
    </div>
    <div>{{ form.submit(class="btn btn-primary my-3") }}</div>
    {% endif %}
  </form>
</div>

{% endblock content %}
