{% extends "layout.html" %} {% block content %}

<div class="container py-4">
    <h2>All Tracks</h2>
      <div class="container d-flex justify-content-between align-items-center mb-3">

    <form method="get" action="{{ url_for('home') }}" class="d-flex">
    
      <div class="form-group mb-0 me-2">
        {{ form.filter_type.label }}
        {{ form.filter_type }}
      </div>
      <div class="form-group mb-0 me-2">
        {{ form.filter_value.label }}
        {{ form.filter_value }}
      </div>
      <div class="form-group mb-0 me-2">
        <div>{{ form.submit(class="btn btn-outline-primary btn-sm") }}</div> 
      </div>
    </form>


    <!-- <form method="get" action="{{ url_for('home') }}" class="d-flex">

     <label for="filter_type">Filter by:</label>
      <select name="filter_type" id="filter_type">
        <option value="">Select Filter</option>
        <option value="title">Title</option>
        <option value="rating">Rating</option>
        <option value="artist">Artist</option>
      </select>
      <input type="text" name="filter_value" placeholder="Enter value for filter">
      <button type="submit">Filter</button>
      <form action="{{ url_for('home') }}" method="get">
        <button type="submit" class="clear-filters-btn">Clear Filter</button> 
      </form>   
    </form>     -->

    {% if current_user.is_creator %}
      <h2 class="text-end">
        <a href="{{  url_for('create_song') }}" class="btn btn-success btn-sm">+ Add Song</a>
      </h2>  
      {% endif %}
    </div>
    
    {% if filter_type %}
      {% if songs %}
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">
        {% for song in songs %}
        <div class="col">
          <div class="card shadow-sm bg-danger-subtle">
            <img src="{{  url_for('static', filename='/song.png')  }}" class="img-thumbnail rounded mb-1 shadow-sm mx-auto" alt="song" width="200 px" height="200 px";>
            <div class="card-body padding-top-0">
              <p class="card-text">
                <p class="mb-0">{{ song.title }}</p>
                <p><small>{{ song.artist }}</small></p>
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group btn-sm">
                  <a type="button" class="btn btn-sm btn-outline-secondary" href="{{  url_for('play_song', song_id=song.id)  }}">
                    Play
                  </a>
                  {% if current_user.is_creator and song.creator_id == current_user.id %}
                    <a type="button" class="btn btn-sm btn-outline-secondary" href="{{  url_for('update_song', song_id=song.id)  }}">
                      Edit
                    </a>
                    <a type="button" class="btn btn-sm btn-outline-secondary" href="{{  url_for('delete_song', song_id=song.id)  }}">
                      Delete
                    </a>
  
                  {% endif %}
                </div>
                <small class="text-body-secondary">{{ song.duration }}</small>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>


      {% endif %}
    {% else %} 
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3 mb-3">
      {% for song in songs %}
      <div class="col">
        <div class="card shadow-sm bg-danger-subtle mb-3">
          <img src="{{  url_for('static', filename='/song.png')  }}" class="img-thumbnail rounded mb-0 shadow-sm mx-auto" alt="song" width="200 px" height="200 px";>
          <div class="card-body padding-top-0">
            <p class="card-text">
              <p class="mb-0">{{ song.title }}</p>
              <p><small>{{ song.artist }}</small></p>
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a type="button" class="btn btn-sm btn-outline-secondary" href="{{  url_for('play_song', song_id=song.id)  }}">
                  Play
                </a>
                {% if current_user.is_creator and song.creator_id == current_user.id %}
                  <a type="button" class="btn btn-sm btn-outline-secondary" href="{{  url_for('update_song', song_id=song.id)  }}">
                    Edit
                  </a>
                  <a type="button" class="btn btn-sm btn-outline-secondary" href="{{  url_for('delete_song', song_id=song.id)  }}">
                    Delete
                  </a>

                {% endif %}
              </div>
              <small class="text-body-secondary">{{ song.duration }}</small>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    {% endif %}

    <hr class="mt-3 ">
    <h2 class="mb-3">All Albums</h2>
    {% if albums %}
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">
      {% for album in albums %}
      <div class="col">
        <div class="card shadow-sm bg-danger-subtle">
          <img src="{{  url_for('static', filename='/album.png')  }}" class="img-thumbnail rounded mb-1 shadow-sm mx-auto" alt="song" width="200 px" height="200 px";>
          <div class="card-body padding-top-0">
            <p class="card-text">
              <p class="mb-0">{{ album.name }}</p>
              <p><small>{{ album.artist }}</small></p>
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group btn-sm">
                <a type="button" class="btn btn-sm btn-outline-secondary" href="{{  url_for('view_album', album_id=album.id)  }}">
                  View
                </a>
                {% if current_user.is_creator and album.creator_id == current_user.id %}
                  <a type="button" class="btn btn-sm btn-outline-secondary" href="{{  url_for('update_album', album_id=album.id)  }}">
                    Edit
                  </a>
                  <a type="button" class="btn btn-sm btn-outline-secondary" href="{{  url_for('delete_album', album_id=album.id)  }}">
                    Delete
                  </a>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    {% endif %}
</div>  
{% endblock content %}
