{% extends "layout.html" %} {% block title %} Index {% endblock title %} {%block
content %}
<div class="container-md text-center align-items-center justify-content">
  <div class="row align-items-center justify-content" style="height: 75vh; margin-top: 17vh;">
    <div class="col">
      <h1 class="display-4">welcome to</h1>
         <div class="d-flex align-items-center justify-content-center">
            <img
              class="mb-2 img-fluid"
              src="{{ url_for('static', filename = '/musical-note.png') }}"
              alt="Logo"
              width="90"
              height="90"
              style="display: inline; margin-right: 10px;"
            />
            <h1 class="h1 display-2 fw-bold mb-2">cuhu</h1> 
         </div>
      </div>

      <hr class="my-3 p-1" />
      <p class="lead">Join today to start listening to your favourite music.<a href="{{ url_for('register') }}" class="btn btn-outline-primary mx-2"
        >Register</a
      ></p>
      <p class="lead">Already have an account? <a href="{{ url_for('login') }}" class="btn btn-outline-primary mx-2"
        >Sign In</a
      ></p>
    </div>
  </div>
</div>

{% endblock content %}

<!-- style="
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
  "-->
