{% extends "layout.html" %} 

{% block content %}
<div class="container pt-4 mb-5 justify-content-between align-items-center">
        <h2>Your Playlists</h2>
        <h2 class="text-end">
        <a href="{{  url_for('create_playlist') }}" class="btn btn-success">+ Add Playlist</a>
        </h2>   
    <div class="container-sm d-flex">
        {% if playlists | length == 0 %}
            <p class="lead">You have not created any playlist yet.</p>
        {% else %}
            
            <table class="table table-bordered text-center">
                <thead>
                  <tr>
                    <th scope="col">S. No.</th>
                    <th scope="col">Playlist</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody>
                    {% for playlist in playlists %}
                    <tr>
                        <td>{{ playlist.id }}</td>
                        <td>{{ playlist.name }}</td>
                        <td>
                            <a href="{{ url_for('view_playlist', playlist_id = playlist.id) }}" class="btn btn-outline-info btn-sm mx-3">View</a>
                            <a href="{{ url_for('update_playlist', playlist_id = playlist.id) }}"class="btn btn-outline-primary btn-sm mx-3">Update</a>
                            <a href="{{ url_for('delete_playlist', playlist_id = playlist.id) }}" class="btn btn-outline-danger btn-sm mx-3">Delete</a>
                        </td>
                    </tr>
                    {% endfor%}
                </tbody>
            </table>        
        {% endif %}
    </div>   
</div>    

{% endblock content %}